.popup__container {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  min-height: 330px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: min(19px, 5%);
  margin-right: min(19px, 5%);
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}
