.popup__about-input {
  margin: 22px 36px 0 36px;
  height: 35px;
}

@media screen and (max-width: 767px) {
  .popup__about-input {
    margin: 22px calc(22px + (36 - 22) * ((100vw - 320px) / (768 - 320))) 0 calc(22px + (36 - 22) * ((100vw - 320px) / (768 - 320)));
  }
}
